* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #13131f;
    color: #a9afc3;
    font-size: 2rem;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

button {
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0.7rem;
    background: none;
    color: inherit;
    border: 1px solid #333;
}

#calculator {
    border: 1px solid #444;
    padding: 2rem;
    box-shadow: 10px 10px 200px 30px purple;
    border-radius: 15px;
   
}

.screen {
    border: 1px solid #333;
    padding: 1rem;
    width: 100%;
    margin-bottom: 2.5rem;
    text-align: right;
}

.btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.4rem;
}

.clear {
    grid-column: span 2;
}

.zero {
    grid-column: span 2;
}

/* added animation*/
h1{
    font-family: "SF Pro";
    font-size: 1em;
   

    background-image:  radial-gradient(circle, rgba(30,0,78,1) 0%, rgba(240,68,255,1) 50%, rgba(132,0,255,1) 100%);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradient-change 5s linear infinite;

}

@keyframes gradient-change {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }

